h3{
  font-family: 'Bungee Spice', cursive;
 font-size: 3rem;
  
}
.round {
  border-radius: 50%;
}
.previous {
  background-color: black;
  color: white;
  margin-left:5% ;
  margin-top: 3%;
  margin-right: 40%;
}
.next {
  background-color: black;
  color: white;
  margin-right:3% ;
  margin-top: 3%;
  margin-left: 43%;
}
.newanchor a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
 
  font-size: 20px;
 
}

.newanchor a:hover {
  background-color: #E3BE00;
  color: black;
  font-size: 20px;
}
